.gradient-custom-2 {
/* fallback for old browsers */
background: green;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #3b8357, #49a466, #75bb48, #9ec94a);

/* W3C, IE 10+/ ge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #3b8357, #49a466, #75bb48, #9ec94a ) !important;



    margin-top: 0 !important;
    color: white;
    border-color: #9ae594;
}

@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}

.gradient-custom-3 {
/* fallback for old browsers */
background: green;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #3b8357, #49a466, #75bb48, #000000);

/* W3C, IE 10+/ ge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #3b8357, #49a466, #75bb48, #000000 ) !important;



    border-color: green;

}

.gradient-custom-1 {
/* fallback for old browsers */
background: green;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #2f4f4f, #3b7a57, #4b8f63, #6b8e23);

/* W3C, IE 10+/ ge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #2f4f4f, #3b7a57, #4b8f63, #6b8e23);


    border-color: green;

}

@media (min-width: 768px) {
.gradient-form-2 {
height: 100vh !important;
}
}

.login-input {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    max-width: 400px; /* Puedes cambiar este valor para aumentar o reducir el ancho máximo */
}


.logo-home {
    width: 200px; /* Ajusta el ancho */
    height: auto; /* Mantiene la proporción */
    display: block; /* Centra la imagen cuando está en un contenedor */
    margin: -50px auto; /* Centra horizontalmente */
    clip-path: circle(25%);
    object-fit: cover;
    transition: all 0.3s ease;
}

.logo-home.small {
            position: fixed;
            top: 40px;
            left: 30px;
            width: 100px;
            z-index: 1000;
            background-color: transparent;
        }




.dancing-script-Tittle {
    font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-style: normal;
}
.sue-ellen-francisco-regular {
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-style: normal;
}



body {
    background-image: url('https://images.unsplash.com/photo-1711397651462-3b2a22f5cfc8?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FtcG8lMjBkZSUyMGFncmljdWx0dXJhfGVufDB8fDB8fHww');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h2, h3{
    font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-style: normal;
}




.content-wrapper-table {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
}

.member {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    transition: transform 0.3s;
}

.explore{
    background-color: white;
    border-radius: 30px;
    padding: 20px;
}

.service-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.service-item-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.25em 2em;
  border: #7cf582 solid 0.15em;
  border-radius: 0.25em;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  max-width: 120px;
}

.button p {
  z-index: 1;
}

.button:hover {
  color: #000000;
}

.button:active {
  border-color: rgb(0, 128, 128);
}

.button::after, .button::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: #49a466;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.button::before {
  left: 0;
  transform: translateX(-8em);
}

.button::after {
  right: 0;
  transform: translateX(8em);
}

.button:hover:before {
  transform: translateX(-1em);
}

.button:hover:after {
  transform: translateX(1em);
}

.button:active:before,
.button:active:after {
  background: teal;
}

.dropdown-menu{
    background-color: #75bb48;
}
