{% extends "base.html" %}

{% block page_content %}
<div class="container mt-5">
    <h2 class="dancing-script-Tittle">Meet Our Team</h2>
    <div style="display: flex; flex-direction: row; gap: 1px; width: 100%; height: 100%; object-fit: cover; border-radius: 10px">
    <div class="card">
        <img src="../images/Diego.jpg" alt="Team Member Diego" class="profile-img">
        <div class="card__content">
        <link rel="stylesheet" href="../styles/styles4.css">
          <p class="card__title">Diego Martínez Lora
            <h5>dlora@utb.edu.co</h5>
          </p><p class="card__description">Hi, I'm Diego Martínez Lora, a passionate software developer in his 7th semester at the Universidad Tecnológica de Bolívar. My academic training and experience in developing technological solutions have allowed me to build innovative and efficient tools that address the needs of our clients.</p>
        </div>
      </div>
        <div class="card">
            <img src="../images/Nicolas.enc" alt="Team Member Nicolás" class="profile-img">
            <div class="card__content">
            <link rel="stylesheet" href="../styles/styles4.css">
              <p class="card__title">Nicolás Molina Díaz
                <h5>nmolina@utb.edu.co</h5>
              </p><p class="card__description">Junior programmer and Systems Engineering student who enjoys writing songs, playing the piano, programming, video games, and watching football in his free time.</p>
            </div>
          </div>
          <div class="card">
            <img src="../images/Luis.jpg" alt="Team Member Luis" class="profile-img">
            <div class="card__content">
            <link rel="stylesheet" href="../styles/styles4.css">
              <p class="card__title">Luis Carlos Pacheco Aldana
                <h5>lupacheco@utb.edu.co</h5>
              </p><p class="card__description">Systems Engineering and Computer Science student, with a marked interest in cybersecurity. Passionate about technology, data protection and the constant search for innovative solutions in the digital field..</p>
            </div>
          </div>
    </section>
</div>
</div>


{% endblock %}
