{% extends "base.html" %}

{% block page_content %}

<div class="page-header">
    <h1>Crop Information Form</h1>
    <p>Enter the crop information:</p>
    <br>
    <form action="/crop_update" method="post">
        <input type="hidden" id="op" name="op" value="U">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup_id">ID</span>
            <input type="number" class="form-control" name="id_crop" aria-label="Sizing example input"
                   aria-describedby="inputGroup_idt" placeholder={{id_crop}} value={{id_crop}} readonly>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup_cropType">Crop Type</span>
            <input type="text" class="form-control" name="crop_type" aria-label="Sizing example input"
                   aria-describedby="inputGroup_cropType">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup_area">Area of Cultivation</span>
            <input type="number" class="form-control" name="area" aria-label="Sizing example input"
                   aria-describedby="inputGroup_area" step="0.1">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup_date">Planting Date</span>
            <input type="date" class="form-control" name="date" aria-label="Sizing example input"
                   aria-describedby="inputGroup_date">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text text-light gradient-custom-2" id="inputGroup_growing_state">Growing State</span>
            <input type="text" class="form-control" name="growing_state" aria-label="Sizing example input"
                   aria-describedby="inputGroup_growing_date" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text text-light gradient-custom-2" id="inputGroup_needs">Needs and treatments</span>
            <input type="text" class="form-control" name="needs" aria-label="Sizing example input"
                   aria-describedby="inputGroup_needs" required>
        </div>
        <br>
        <input class="btn btn-primary" type="submit" name="form" value="Submit"/>
    </form>
</div>

{% endblock %}