{% extends "base.html" %}

{% block page_content %}
<div class="container text-center">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="display-4 dancing-script-Tittle">Distribution</h1>
            <img src="https://img.freepik.com/vector-premium/agricultura-logo-e-marca-simbolo-diseno-grafico-minimalista-logo_67323-367.jpg" class="logo-home" alt="Agriculture logo design">
            <p class="lead">Discover Our Passion for Agriculture</p>
            <p>Welcome to AgricultureCompany, your best choice for a professional agricultural experience.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-5 explore " style="margin: auto; border: 0.2em solid #9ec94a;">
            <h3>Vehicles</h3>
            <p>We are a passionate agricultural company, founded in 2024, born out of the need to revolutionize farm management systems. We've developed software that streamlines this task, providing users with greater control over their crops and products.</p>
            <div class="container" style="height: 50%; display: inline">
                <img src="https://img.freepik.com/vector-gratis/camion-transporte-degradado_23-2149150714.jpg" style="height: 200px; width: auto; display: block; margin: 0 auto;" alt="Illustration of a gradient transport truck">
            </div>
            <a href="/vehicles" class="button gradient-custom-3" style="margin: 10px auto">Vehicles</a>
        </div>
        <div class="col-lg-5 explore" style="margin-left: auto;border: 0.2em solid #9ec94a;">
            <h3>Assignments</h3>
            <p>Our mission is to responsibly feed the world while caring for the environment and supporting local communities. We aim to elevate the quality of agricultural management through this web app, assisting individuals with personal agriculture projects. Our goal is to help them better manage their products and explore the full potential of agriculture.</p>
            <img src="https://st2.depositphotos.com/1000128/5477/i/450/depositphotos_54772263-stock-photo-row-of-cardboard-boxes.jpg" style="height: 200px; width: auto; display: block; margin: 0 auto;" alt="Row of cardboard boxes">
            <a href="/assignments" class="button gradient-custom-3" style="margin: 10px auto">Assignments</a>
        </div>
        <div class="col-lg-4 explore" style="margin: auto; border: 0.2em solid #9ec94a;">
            <h3>POS</h3>
            <p>Our mission is to responsibly feed the world while caring for the environment and supporting local communities. We aim to elevate the quality of agricultural management through this web app, assisting individuals with personal agriculture projects. Our goal is to help them better manage their products and explore the full potential of agriculture.</p>
            <img src="https://img.freepik.com/vector-gratis/compre-cartel-que-estamos-abiertos_23-2148542600.jpg" style="height: 200px; width: auto; display: block; margin: 0 auto;" alt="Open sign poster illustration">
            <a href="/pos" class="button gradient-custom-3" style="margin: 10px auto">POS</a>
        </div>
    </div>
</div>
{% endblock %}
