{% extends "base.html" %}

{% block page_content %}

<h2>Products in Silo {{id_silo}}</h2>
<a href="/harvest" class="btn btn-success gradient-custom-2">Back</a>
<section class="content-wrapper-table">
<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Harvest Date</th>
        <th scope="col">Quantity</th>
        <th scope="col">Area</th>
        <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for line in value %}
    <tr>
        <th scope="row" style="background-color: white;">{{line[0]}}</th>
        <td>{{line[1]}}</td>
        <td>{{line[2]}}</td>
        <td>{{line[3]}}</td>
        <td>
            <a href="/harvest_update/{{line[0]}}" class="btn btn-warning btn-xs">Edit</a>
            <a href="/harvest_delete/{{line[0]}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>

        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</section>
{% endblock %}