{% extends "base.html" %}

{% block page_content %}
<section class="content-wrapper-table">
<div class="page-header">
    <h1>Silo Information Form</h1>
    <p>Enter the silo information:</p>
    <br>
    <form action="/silo_detail" method="post">
    <div class="input-group mb-3">
        <span class="input-group-text text-light gradient-custom-2">Silo Name</span>
        <input type="text" required class="form-control" name="nombre" aria-label="Silo Name">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text text-light gradient-custom-2">Capacity of the silo (boxes)</span>
        <input type="number" min="0" required class="form-control" name="capacidad" aria-label="Capacity">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text text-light gradient-custom-2">Current Content</span>
        <input type="number" required class="form-control" name="contenido" aria-label="Current Content">
    </div>
    <br>
    <input class="btn gradient-custom-3 text-light" type="submit" value="Submit"/>
</form>
</div>
</section>
{% endblock %}